.visible-xs
  .general-cart-item.divider-lg-bottom.pt-0
    - orders.each do |order|
      %table.table
        %tr
          %td.col-half
            %span.in-grey-600= t '.number'
          %td.col-half
            = link_to order_path(order), class: 'mb-20' do
              %p.general-order-number= order.number
        %tr
          %td
            %span.in-grey-600= t '.completed_at'
          %td
            %span.in-grey-900.font-16.fw-300= order.decorate.completed_at_short_date
        %tr
          %td
            %span.in-grey-600= t '.status'
          %td
            - if order.state == 'delivered'
              %span.font-16.fw-300.text-success= order.decorate.state
            - else
              %span.font-16.in-grey-900.fw-300= order.decorate.state
        %tr
          %td
            %span.in-grey-600= t '.total'
          %td
            %strong.font-16= order.decorate.total

.hidden-xs.mb-res-50
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600= t '.number'
        %th
          %span.in-grey-600= t '.completed_at'
        %th
          %span.in-grey-600= t '.status'
        %th
          %span.in-grey-600= t '.total'
    %tbody
      - orders.each do |order|
        %tr
          %td
            = link_to order_path(order), class: 'mb-20' do
              %p.general-order-number= order.number
          %td
            %span.in-grey-900.font-16.fw-300= order.decorate.completed_at_short_date
          %td
            - if order.state == 'delivered'
              %span.font-16.fw-300.text-success= order.decorate.state
            - else
              %span.font-16.in-grey-900.fw-300= order.decorate.state
          %td
            %strong.font-16= order.decorate.total
