%h1.general-title-margin= 'Order ' + @order.number
.row.mb-20
  .col-sm-4
    %h3.general-subtitle
      = t 'orders.checkout.address.shipping_address'
    = render partial: 'orders/checkout/address', object: @order.shipping_address
  .col-sm-4
    %h3.general-subtitle
      = t 'orders.checkout.address.billing_address'
    = render partial: 'orders/checkout/address', object: @order.billing_address
  .col-sm-4
    %h3.general-subtitle
      = t '.shipments'
    %p.general-address
      = @order.shipping_method.name
      %br
      = @order.shipping_method.decorate.terms
      %br
      = @order.shipping_method.decorate.price
      %br

= render partial: 'orders/checkout/line_items', object: @order.line_items

.text-center.general-text-right
  = render 'summary'
